button {
    height: 35px;
    width: 100px;
    color: blue;
    border: blue solid 1px;
    cursor: pointer;
    margin: 10px;
    border-radius: 7px;

}

.colocar-linha {
    color: #08ad27;
    border: #08ad27 solid 1px;
    border-radius: 7px;
}

.colocar-linha:hover {
    cursor: pointer;

}

.tirar-linha {
    margin-left: 10px;
    height: 29px;
    width: 29px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border: #111111 solid 1.2px;
    background-image: url("@/assets/trash-can.png");
}


.tirar-linha:hover {
    cursor: pointer;
    border-color: red;
    border-radius: 7px;
}

.form-control {
    width: 350px;
    background-color: rgb(253, 253, 253);
}


.bg1 {
    height:100vh;
    overflow: auto;
}
.center {
    align-content: center;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    overflow: auto;
}

.margin {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

textarea {
    border-radius: 10px;
    text-align: center;

}




