 :root {
    background-image: url("oracao.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;

  }


body {
  text-align: center;
  min-height: 100vh;
  line-height: 35px;
    font-family: "Calibre", serif;
  font-size: 20px;
}

form {
  width: 100%;
}

button {
  height: 25px;
  width: 100px;
}





