

#app {
  margin: 25px;
}

a,
.green {
  text-decoration: chartreuse;
  color: hsl(0, 0%, 100%);
  transition: 0.4s;
  padding: 2px;
}

.form-control {
  width: 350px;
  background-color: rgb(253, 253, 253);
align-content:center ;
}

.form-control2{
  width: 350px;
  background-color: rgb(253, 253, 253);
  align-content:center ;
  height: 25px;
}

:root {
  background-image: url("oracao.jpeg");
  background-size:100%;
  background-repeat: no-repeat;
}

body {
  text-align: center;
  line-height: 35px;
  font-family: "Calibre", serif;
  font-size: 20px;
}


button {
  height: 35px;
  width: 100px;
}



