
#app {
    margin: 2px;
    height: 100vh;
}

a,
.green {
    text-decoration: chartreuse;
    color: hsl(0, 0%, 100%);
    transition: 0.4s;
    padding: 2px;
}

.form-control {
    width: 350px;
    background-color: rgb(253, 253, 253);
}

.form-control2 {
    width: 350px;
    background-color: rgb(253, 253, 253);
    height: 26px;
}

@media (max-width: 768px) {
    :root {
        background-image: url("oracao.jpeg");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;

    }
}

@media (min-width: 767px) {
    :root {
        background-image: url("oracao.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}


body {
    line-height: 30px;
    font-family: "Calibre", serif;
    font-size: 20px;
    text-align: center;

}

button {
    height: 35px;
    width: 100px;
}



